
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html>
	<title> Noticia Pagina Prueba</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/w3.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/css.css">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

	
	
	<style>
		.centrar
	{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:0%;
		left:27%;
		/*determinamos una anchura*/
		width:600px;
		
		
		
	}

	</style>

	

<body style="background-color: white;">


	
<div class="centrar" id="formularios1">	

				<ul>
				{% for a in noticia1 %}

					<p style="text-decoration-color: red">{{ a["titulo1"] }}</p>
					<br>

					<p>{{ a["lead1"] }}</p>

					<br>

					<p>{{ a["cuerpo1"] }}</p>

				{% endfor%}
				</ul>


	<iframe width="560" height="300" src="https://www.youtube.com/embed/QnvqgKoNMJw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

</body>

</html>